<div id="success-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Success purchase!</h2>
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <p>Thank you for your purchase!</p>
        </div>
        <div class="modal-footer">
            <br>
        </div>
    </div>
</div>
<div id="failure-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Failure purchase!</h2>
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <p>Sorry, could not complete the purchase.</p>
        </div>
        <div class="modal-footer">
            <br>
        </div>
    </div>
</div>
